@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-light-gray: rgba(238, 238, 238, 1);
  --bg-dark-gray: rgba(206, 206, 206, 1);
  --icon-color: rgba(86, 86, 86, 1);
  --danger-color: rgba(219, 49, 49, 1);
  --success-color: #14a44d;
}
