* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.section-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-position: center;
  filter: brightness();
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  color: white;
}

.sitename {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
  font-weight: 400;
}

.landingp {
  font-size: 1.15rem;
  letter-spacing: 3px;
  margin: 20px 0 40px;
}

.home-button {
  color: white;
  text-decoration: none;
  border: 2px white solid;
  padding: 10px 15px;
}

.home-button:hover,
.home-button:focus {
  background: hsl(0, 100%, 100%, 0.2);
  outline: none;
}

.section-two {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-two {
  display: flex;
  padding: 50px;
  gap: 20px;
  width: 100%;
}

.content > .sitename {
  font-size: 2.75rem;
}

.content > .sitename::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #d1a370;
}

.content > .landingp {
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.content-image > img {
  width: 300px;
  padding: 1rem;
  object-fit: scale-down;
}

@media (max-width: 700px) {
  .section-two {
    height: 100%;
  }
  .container-two {
    flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
}
